*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.loadercontent{
    width:100vw;
    height:100vh;
    background-color: rgb(22, 21, 21);
    display:flex;
    justify-content: center;
    align-items: center;
    /* position:absolute; */
}
.loaderbox{
    width:25rem;
    height:4rem;
    background-color:rgb(85, 82, 82);
    animation-name:rotateloader;
    animation-delay: 4.5s;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes rotateloader{
    
100%{transform:rotate(90deg);
    height:100vh;
    width: 100vw;
    display:none;
    }
}
.load{
    width:100%;
    height:100%;
    background-color: aliceblue;
    animation-name:widthchange;
    animation-duration: 3.5s;
    animation-delay: 0.5;
    animation-timing-function:linear;
    display: flex;
    justify-content:center;
    align-items:center;
}
@keyframes widthchange{
    from{width:0%;}
    to{width:100%;}
}
.load p{
    animation-name:imagicon;
    font-size:0;
    animation-delay: 6s;
    animation-duration: 2s;
    color:crimson;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes imagicon{
    0%{font-size:0;}
    100%{font-size:200px;}

}
#homepage{
    width:100vw;
    height: 100vh;
    
}

